body {
	margin: 0;
	font-family: arial;
	background-color: white;
}

button {
	width: 92px;
	height: 100%;
	color: white;
	font-size: 30px;
	border: none;
	font-weight: bold;	
}	

.calculator {
	width: 400px;
	margin: auto;
	padding: 5px;
	background-color: white; 
}

.display {
	width: 376px;
	height: 92px;
	margin: 4px;
	padding: 8px;
	background-color: #58CCED;
	color: #072F5F;
}

.row {
	width: 392px;
	height: 100px;
	margin: 8px 4px;
	display: flex;
	justify-content: space-between;
}

#display-text {
	text-align: right;
	color: #072F5F;
	font-size: 50px;
	font-weight: bold;
	margin: auto;
}

.number {
	background-color: #1261A0;
}

.operation {
	background-color: #072F5F;
}

.decimal {
	background-color: #1261A0;
}

.equals {
	background-color: #072F5F;
}

.regular {
	background-color: #3895D3;	
}